<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watchan.nhkradiodownloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:icon="@drawable/watchan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.watchan.nhkradiodownloader.NHKRadioDownloader"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.schriek.rtmpdump.NHKRadioDownloader"
            android:label="@string/title_activity_nhkradio_downloader" >
        </activity>
        <activity
            android:name="com.watchan.nhkradiodownloader.KouzaList"
            android:label="@string/title_activity_kouza_list" >
        </activity>
    </application>

</manifest>